#map {
  height: 100%;
  width: 100%;
}
.map-container {
  height: 100%;
  min-height: 600px;
  border: 15px;
  box-sizing: content-box;
  border-style: double;
  border-radius: 5px;
}
.center-button {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 8px;
}
.leaflet-control-custom {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaflet-control-custom i {
  color: #333;
}

.table-container {
  max-height: 200px;
  overflow-y: auto;
  display: block;
}

tbody {
  display: block;
  width: 100%;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

td {
  text-align: center;
  vertical-align: middle; /* This line will vertically center your text */
}
